.button-icons .dx-button-content .dx-icon {
    font-size: 15px;
    padding-top: 3px;
}

#button,
#button .dx-button-content {
    padding: 0px;
}


#button .button-indicator {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}